@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agenda Virtual</h1>
    <p class="lead">Agenda Virtual é um sistema web de controle de tarefas e contatos. Acesse as funcionalidades do sistema através do menu lateral.</p>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <img src="~/imagens/calendar.png" />
    </div>    
</div>
